.Container {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

.Header {
    display: flex;
    width: 100%;
    height: 10%;
    text-align: center;
    margin-top: 5%;
}

.TitleBox {
    width: 89%;
}

.CancelBox {
    width: 11%;
}

.TitleText {
    vertical-align: middle;
    font-size: 33px;
}

.CancelText {
    vertical-align: middle;
    font-size: 33px;
}

.Body {
    width: 100%;
    height: 80vh;
    display: flex;
    position: fixed;
    left: 0px;
    bottom: 0px;
    right: 0px;
}

.LeftBar {
    width: 40%;
    height: auto;
    background-color: #8C837A;
    background-image: url('/images/LeftBar.svg');
    align-items: center;
}

.RightContainer {
    width: 60%;
    height: 100%;
}

.NumberBox {
    width: 100%;
    height: 30%;
    text-align: center;
    border: 1px;
    border-style: solid;
    border-color: #707070;
}

.NumberInnerBox {
    width: 100%;
    height: 40%;
}

.NumberInnerText {
    font-size: 60px;
}

.NumberInnerNoticeBox {
    width: 100%;
    height: 17px;
    position: relative;
    top: 40%;
}

.NumberInnerNoticeText {
    font-size: 15px;
}

.KeypadBox {
    width: auto;
    height: 70%;
    border: 1px;
    border-style: solid;
    border-color: #707070;
}

.KeypadGrid {
    display: table;
    width: 100%;
    height: 100%;
}

.KeypadRow {
    display: table-row;
}

.KeypadCell {
    display: table-cell;
    width: 33%;
    height: 20%;
    text-align: center;
    border: 1px;
    border-style: solid;
    border-color: #707070;
}

.KeypadText {
    font-size: 40px;
    color: #707070
}