.Container {
    width: 100vw;
    height: 100vh;
}

.Head {
    width: 100vw;
    height: 67px;
    background-image: url('/images/AuthHead.svg');
    top: 30px;
    position: relative;
}

.MainBox {
    width: 85%;
    height: 64%;
    position: fixed;
    left: 50%;
    bottom: 18%;
    transform: translateX(-50%);
    text-align: center;
}

.SubBox {
    width: 100%;
    height: 85%;
    text-align: left;
    position: fixed;
    bottom: 0%;
}

.ThirdBox {
    width: 100%;
    height: 72%;
    position: fixed;
    bottom: 0;
}

.FirstLine {
    display: flex;
    width: 48%;
    height: 65px;
    border-radius: 32px;
    align-items: center;
    border: 1px solid black;
}

.Line {
    display: flex;
    width: 100%;
    height: 65px;
    margin-top: 30px; 
    border-radius: 31px;
    border: 1px solid black;
}

.ShortInput {
    margin-left: 30px;
    border: none;
    font-size: 31px;
    width: 70%;
}

.Input {
    margin-left: 30px;
    border: none;
    font-size: 31px;
    width: 87%;
}

.Circle1 {
    width: 64px;
    height: 64px;
    border-radius: 32px;
    background-color: #EBE9E7;
}

.Circle2 {
    width: 64px;
    height: 64px;
    border-radius: 32px;
    background-color: #D8D2CB;
}

.Circle3 {
    width: 64px;
    height: 64px;
    border-radius: 32px;
    background-color: #BAB3AB;
}

.Circle4 {
    width: 64px;
    height: 64px;
    border-radius: 32px;
    background-color: #707070;
}

.Title {
    margin-top: 0px;
    font-size: 33px;
    color: #606060;
    font-family: HYGothic;
}

.Subtitle {
    margin-top: 0px;
    margin-left: 10px;
    font-size: 33px;
    font-family: playbill;
}

.GenderText {
    padding-left: 30px;
    font-size: 31px;
    color: #909090;
}

.CheckArea {
    display: flex;
    width: 180px;
    height: 100%;
    margin-left: 10px;
    justify-content: space-between;
    padding-top: 10px;
}

.Gender {
    font-size: 31px;
    color: #909090;
}