.Container {
    width: 100vw;
    height: 100vh;
    justify-items: center;
    align-items: center;
}

.Icon {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    background-image: url('/images/MainBack.svg');
}